<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">BloodBank</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link btn-ou" href="@Url.Action("Index","Patient")">Patient</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Donor")">Donors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","BloodBag")">Inventory</a>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>