@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div id="patientList" class="col-sm-6">
        @{Html.RenderAction("PartialIndex");}
    </div>

    <div class="col-sm-6 ">
        @if (TempData.ContainsKey("PatientDetails"))
        {
            <div id="patientDetail">
                @Html.Partial("_PartialDetails", (BloodBank.Models.PatientModels.PatientDetail)TempData["PatientDetails"])
            </div>
        }
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            @{ Html.RenderAction("_PartialCreate");}
        </div>
    </div>
</div>